*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk";
  }
  
  @media  screen and (min-width: 320px) {
    .container{
      width: 100%;
      height: 100vh;
    }
  
    .card{
      width: 100%;
      height: 100vh;
    }
  
    .violet-background{
      width: 100%;
      height: 43%;
      background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .violet-background .result-text {
      color: rgb(207, 207, 207);
      font-size: 19px;
      margin-top: 20px;
      font-weight: bold;
    }
  
    .result{
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
      border-radius: 50%;
      margin-top: 20px;
      
    }
  
    .result h1{
      color: white;
      font-size: 60px;
     
    }
  
    .result p {
      color: rgb(165, 165, 165);
      font-weight: bold;
    }
  
    .violet-background h2{
      color: white;
      margin-top: 20px; 
      font-size: 25px;
    }
  
   .violet-background .description{
    color: rgb(165, 165, 165);
    text-align: center;
    width: 250px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
   }
  
   .white-background{
    margin: 20px;
  }
  
  .white-background h2{
    margin-bottom: 20px;
  }
  
  .reaction{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 17px;
   border-radius: 5px;
   background-color: hsla(0, 100%, 67%, 0.1);
   margin-bottom: 20px;
  }
  
  .reaction div{
    display: flex;
  }
  
  .reaction div p{
    color: hsl(0, 100%, 67%);
    font-weight: bold;
    margin-left: 10px;
  }
  
  .reaction p{
    color: rgb(165, 165, 165);
    font-weight: bold;
  }
  
  .reaction p span{
    color: black;
  }
  
  .memory{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    border-radius: 5px;
    background-color: hsla(39, 100%, 56%, 0.1);
    margin-bottom: 20px;
  }
  
  .memory div{
    display: flex;
  }
  
  .memory div p{
    color: hsl(39, 100%, 56%);
    margin-left: 10px;
    font-weight: bold;
  }
  
  .memory p{
    color: rgb(165, 165, 165);
    font-weight: bold;
  }
  
  .memory p span{
    color: black;
  }
  
  .verbal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    border-radius: 5px;
    background-color: hsla(166, 100%, 37%, 0.1);
    margin-bottom: 20px;
  }
  
  .verbal div{
    display: flex;
  }
  
  .verbal div p {
    color: hsl(166, 100%, 37%);
    margin-left: 10px;
    font-weight: bold;
  }
  
  .verbal p{
    color: rgb(165, 165, 165);
    font-weight: bold;
  }
  
  .verbal p span{
    color: black;
  }
  
  .visual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
    border-radius: 5px;
    background-color: hsla(234, 85%, 45%, 0.1);
    margin-bottom: 20px;
  }
  
  .visual div{
    display: flex;
  }
  
  .visual div p{
    color:  hsl(234, 85%, 45%);
    margin-left: 10px;
    font-weight: bold;
  }
  
  .visual p{
    color: rgb(165, 165, 165);
    font-weight: bold;
  
  }
  
  .visual p span{
    color: black;
  }
  
  .continue-button{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 50px ;
    cursor: pointer;
  }
.continue-button:hover{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
  
  }
  
  
  @media screen and (min-width: 1339px) {
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
    }
  
    .card{
      display: flex;
      align-items: center;
      height: 450px;
      width: 600px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0,0.1);
      border-radius: 20px;
    }
  
    .violet-background{
      height: 100%;
      width: 50%;
      border-radius: 20px;
  
      
    }
  
    .violet-background .result-text{
      margin-top: 30px;
    }
  
    .white-background{
      width: 50%;
      
    }
  
  .violet-background .result{
  padding: 100px;
  }
  
  .violet-background .result p{
    width: 50px;
  }
    
    .violet-background .description{
      width: 210px;
    }
  
  }